@page "/"
@using MudBlazor

<PageTitle>Home</PageTitle>

<h1>SaltyMC</h1>

Welcome to SaltyMC, by cantseasharp :D

<div>
    <MudText Typo="Typo.h5">Join the discord!</MudText>

    <MudButton Href="https://discord.gg/Mhjdn4znV2"
               Target="_blank"
               Variant="Variant.Filled"
               EndIcon="@Icons.Custom.Brands.Discord"
               Color="Color.Primary"
               Disabled=false>
        Discord Link
    </MudButton>
</div>