@page "/"
@using MudBlazor

<PageTitle>Home</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-6">
    <MudText Typo="Typo.h4" GutterBottom="true" Align="Align.Center">
        cantseasharp's Unofficial Server Landing Page!
    </MudText>

    <MudPaper Elevation="1" Class="p-4 mt-4">
        <MudText Typo="Typo.h6" GutterBottom="true">Watch Our Latest Server Trailer</MudText>

        <div style="position: relative; width: 100%; padding-bottom: 56.25%; height: 0;">
            <iframe src="https://www.youtube.com/embed/0gfUjYeOhNs"
                    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none;"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </div>
    </MudPaper>

</MudContainer>
