@page "/store"

<PageTitle>Store</PageTitle>

<h1>Store</h1>
<MudButton Href="https://store.saltymc.org/"
           Target="_blank"
           Variant="Variant.Filled"
           Color="Color.Primary"
           Disabled=false>
    Support the server!
</MudButton>

