@page "/vote"
@using MudBlazor

<PageTitle>Vote</PageTitle>

<h1>Vote</h1>

<MudButton Href=""
           Target="_blank"
           Variant="Variant.Filled"
           @* EndIcon="@Icons.Custom.Brands.GitHub" *@
           Color="Color.Primary"
           Disabled=@disabled>
    Vote 1
</MudButton>
<MudButton Href=""
           Target="_blank"
           Variant="Variant.Filled"
           @* EndIcon="@Icons.Custom.Brands.GitHub" *@
           Color="Color.Primary"
           Disabled=@disabled>
    Vote 2
</MudButton>
<MudButton Href=""
           Target="_blank"
           Variant="Variant.Filled"
           @* EndIcon="@Icons.Custom.Brands.GitHub" *@
           Color="Color.Primary"
           Disabled=@disabled>
    Vote 3
</MudButton>
<MudButton Href=""
           Target="_blank"
           Variant="Variant.Filled"
           @* EndIcon="@Icons.Custom.Brands.GitHub" *@
           Color="Color.Primary"
           Disabled=@disabled>
    Vote 4
</MudButton>
