@page "/vote"
@using MudBlazor

<PageTitle>Vote</PageTitle>

<h1>Vote</h1>

<MudButton Href="https://minecraftservers.org/vote/673166https://minecraftservers.org/vote/673166"
           Target="_blank"
           Variant="Variant.Filled"
           Color="Color.Primary"
           Disabled=false>
    Vote 1
</MudButton>
<MudButton Href="https://minecraft-server-list.com/server/511458/vote/"
           Target="_blank"
           Variant="Variant.Filled"
           Color="Color.Primary"
           Disabled=false>
    Vote 2
</MudButton>
<MudButton Href="https://best-minecraft-servers.co/server-saltymc.28561/vote"
           Target="_blank"
           Variant="Variant.Filled"
           Color="Color.Primary"
           Disabled=false>
    Vote 3
</MudButton>
<MudButton Href="https://minecraftbestservers.com/server-saltymc.5099/vote"
           Target="_blank"
           Variant="Variant.Filled"
           Color="Color.Primary"
           Disabled=false>
    Vote 4
</MudButton>
